/* ===== Estilos generales ===== */
body {
  background-color: #000000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* ===== Contenedor principal ===== */
main {
  text-align: center;
}

/* ===== Título ===== */
.titulo h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #ffea5c;
  text-shadow: 0 0 10px #ffea5c, 0 0 20px #ffd700;
  margin-bottom: 0.3rem;
}

.titulo p {
  font-weight: 300;
  color: #ccc;
  margin-bottom: 2rem;
}

/* ===== Navegación ===== */
.navegacion ul {
  list-style: none;
  padding: 0;
}

.navegacion li {
  margin: 15px 0;
}

/* ===== Botones / Enlaces ===== */
.navegacion a {
  text-decoration: none;
  color: #ff0095;
  background-color: #ffffff;
  font-size: 1.1rem;
  padding: 12px 35px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  transition: all 0.3s ease;
  display: inline-block;
  font-weight: 600;
}

/* ===== Efecto hover ===== */
.navegacion a:hover {
  background-color: #ffea5c;
  border-color: #ffea5c;
  color: #fb009b;
  transform: scale(1.05);
  box-shadow: 0 0 15px #ffea5c, 0 0 25px #ffd700;
}